@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 48 33% 95%;
    --foreground: 43 30% 19%;
    --card: 0 0% 100%;
    --card-foreground: 43 30% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 43 30% 19%;
    --primary: 89 34% 62%;
    --primary-foreground: 43 30% 10%;
    --secondary: 48 20% 90%;
    --secondary-foreground: 43 30% 19%;
    --muted: 48 20% 90%;
    --muted-foreground: 43 30% 40%;
    --accent: 43 65% 66%;
    --accent-foreground: 43 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 20% 85%;
    --input: 48 20% 85%;
    --ring: 89 34% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 43 10% 10%;
    --foreground: 48 20% 90%;
    --card: 43 10% 15%;
    --card-foreground: 48 20% 90%;
    --popover: 43 10% 10%;
    --popover-foreground: 48 20% 90%;
    --primary: 89 34% 62%;
    --primary-foreground: 43 30% 10%;
    --secondary: 43 10% 20%;
    --secondary-foreground: 48 20% 90%;
    --muted: 43 10% 20%;
    --muted-foreground: 48 20% 60%;
    --accent: 43 65% 66%;
    --accent-foreground: 43 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 10% 25%;
    --input: 43 10% 25%;
    --ring: 89 34% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
